* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}
main {
  margin: 5px;
}
header nav {
  background: #fbf7e3;
  margin: 0;
  padding: 4px 0;
}
h1,
h2,
h3 {
  color: #612406;
  font-weight: 800;
}

/* .navbar {
  /* text-align: center; */

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 18px;
  align-items: center;
  /* background-color: #fbf7e3; */
  padding: initial;
}
.navbar ul li {
  list-style-type: none;
  width: 170px;
  background-color: #f3df85;
  color: #612406;
  border-radius: 20px;
  align-self: center;
  text-align: center;
  padding: 10px 5px;
  border-radius: 30px;
  font-weight: 600;
}

#centrale {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px;
  width: 100%;
  order: -1;
}
.centrale img {
  margin-right: 20px;
}
/* card */
.productcard {
  width: 300px;
  background-color: #fbf7e3;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: #612406;
}
.textproduct {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.textproduct p {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}
.textproduct h3 {
  margin-bottom: 0;
}
.price p {
  font-size: 1.3rem;
}
.productcard img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
}
.buttonproduct {
  background-color: #f3df85;
  border: 1px solid #f3df85;
  align-self: center;
  margin-bottom: 15px;
  padding: 9px 50px;
  border-radius: 16px;
  font-weight: 700;
  color: #612406;
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 30px;
}
article h2 {
  margin-top: 30px;
}
.articlehoney img {
  width: 100%;
}
.articlehoney {
  background-color: #fbf7e3;
  margin-top: 30px;

  padding: 40px;
  color: #612406;
}
